extends layout

block vars
  - var title = 'Glare - Dashboard'

block content
  .row.dashboard

    .col-md-offset-2.col-md-8
      .text-right
        a(href='/settings')
          button.btn.btn-default.btn-primary.btn-sm(type='button') Settings
        a(href='/logout')
          button.btn.btn-default.btn-primary.btn-sm(type='button') Logout

      h1 Dashboard

      .configure.panel.panel-danger
        .panel-heading.
          Important!
        .panel-body.
          You need to <a href="/settings">configure</a> your Glare account to get
          started!

      h3 Monitoring Status
      p Refresh to see changes.
      table.table.table-striped
        tr
          th Domain
          th Record
          th Status
