doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv-'X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

  body
    .page-header.text-center
      h1.
        <a href="/">Glare</a>
      h3.
        The <a href="https://www.cloudflare.com/">CloudFlare</a> DNS monitoring service.

    block content

    footer.text-center
      hr
      p.
        Proudly powered by <a href="https://stormpath.com">Stormpath</a>.

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
